.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

# Editor directories and files
.idea
.vscode
.tern-project
*.suo
*.ntvs*
*.njsproj
*.sln
.history/src/components/BlogNav_20200817221221.vue
.history/src/router/index_20200818012202.js
.history/src/router/index_20200818012054.js
.history/src/router/index_20200818011254.js
.history/src/resources/index_20200818013551.js
.history/src/resources/index_20200818011713.js
.history/src/components/RecipeTitle_20200818012524.vue
.history/src/components/RecipeTitle_20200818012426.vue
.history/src/components/RecipeFood_20200818012748.vue
.history/src/components/RecipeFood_20200818012741.vue
.history/src/components/RecipeFood_20200818012540.vue
.history/src/components/RecipeFeed_20200818013236.vue
.history/src/components/RecipeFeed_20200818013114.vue
.history/src/components/Recipe_20200818013315.vue
.history/src/components/Recipe_20200818012441.vue
.history/src/components/Recipe_20200818012354.vue
